/* UNIVERSAL STYLES */

html,
body {
    background-color: white;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.supporting,
.rating,
.gallery,
.location {
    margin: 4em auto;
}

/* MAIN */

.main {
    height: 30rem;
    background-image: url("images/bg-photo.webp");
    padding-top: 1rem;
}

.main img {
    width: 15rem;
    display: block;
    margin: auto;
    margin-top: 5rem;
}

nav {
    color: white;
    background-color: orangered;
    padding: 0.75rem 1.25rem;
}

ul {
    list-style: none;
    margin: 0;
}

li {
    display: inline-block;
}

/* SUPPORTING */

.supporting {
    display: flex;
    align-items: flex-start;
    padding: 0 1rem;
}

.supporting img {
    width: 10%;
    height: 10%;
    margin-right: 5%;
}

/* RATING */

.rating {
    height: 20rem;
    color: white;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.rating h1 {
    font-size: 2.5rem;
}

/* GALLERY */

.gallery img {
    width: 30%;
    display: block;
    float: left;
    margin: 1.5%;
}

.clearfix {
    clear: both;
}

/* LOCATION */

.location {
    text-align: center;
    margin-bottom: 7rem;
}

.location img {
    width: 100%;
}

/* FOOTER */

footer {
    background-color: orangered;
    padding: 0 1rem;
}

footer .container {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5em 0;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 960px) {
    .main {
        padding-top: 0;
    } 
}
   
@media only screen and (max-width: 700px) {
    .supporting img {
        display: none;
    }
}
   
@media only screen and (max-width: 470px) {
    .rating h1 {
        font-size: 2rem;
    }
    .gallery img {
        width: 100%;
        margin: 0;
    }
    footer nav {
        display: none;
    }
}